.product-card{
    width: 14rem;
    height: 16rem;
    margin: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    position: relative;
}
.product-card:hover{
    border: 0.2rem solid blueviolet;

}

.product-price{
    background-color: green;
    width: 5rem;
    border-radius: 0.5rem;
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
    position: absolute;
    right: 5%;
    top: 5%;
}

.product-img{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top:20%;
    width: 3rem;
}

.product-info{
    position: absolute;
    left: 5%;
    top: 45%;
    text-align: start;
}


.product-info p{
    color: grey;
    font-size: 0.8rem;
    margin-right: 0.2rem;


}
.product-info h3{
    color:white;
    font-weight: bold;
    margin-bottom: 0.2rem;


}


.btn-add{
    background-color: blueviolet;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    padding-bottom: 0.2rem;
    color: white;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
}

.btn-add:disabled{
    background-color: grey;
}
